<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcoder.community.dao.CommentMapper">
<!--    定义复用代码块-->
    <sql id="selectFields">
        select id, user_id, entity_type, entity_id, target_id, content, status, create_time from comment
    </sql>
    <sql id="insertFields">
        insert into comment(user_id, entity_type, entity_id, target_id, content, status, create_time)
          values (#{userId}, #{entityType}, #{entityId}, #{targetId}, #{content}, #{status}, #{createTime})
    </sql>

<!--    查询指定目标类型id的评论列表-->
    <select id="selectCommentList" resultType="comment">
        <include refid="selectFields"></include>
        where status = 0
        and entity_type = #{entityType}
        and entity_id = #{entityId}
        order by create_time asc
        limit #{offset}, #{limit}
    </select>

<!--    查询目标类型id一共有多少条评论-->
<!--    返回类型必须要写-->
    <select id="selectComments" resultType="int">
        select count(id) from comment
        where status = 0
        and entity_type = #{entityType}
        and entity_id = #{entityId}
    </select>
    
<!--    增加评论-->
    <insert id="insertComment" parameterType="comment" keyProperty="id">
        <include refid="insertFields"></include>
    </insert>

<!--    根据id查询一条评论-->
    <select id="selectCommentById" resultType="comment">
        <include refid="selectFields"></include>
        where id = #{id}
    </select>
</mapper>